body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

input{
  font-size:28pt;
}

.otherApp{
	margin-top:50px;
  display:inline-block;
	padding:15px;
  border:1px solid black;
}

.otherApp button{
  font-size:18pt;
}
